html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*noinspection CssOverwrittenProperties*/
    font-size: 100%;
    /*noinspection CssOverwrittenProperties*/
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    /*noinspection CssOverwrittenProperties*/
    content: '';
    /*noinspection CssOverwrittenProperties*/
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END OF STYLE RESET */

/* HEADER */
header {
    background-color: teal;
    width: 100%;
}

/*GROUPS OF ELEMENTS*/




.wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#div-scroll {
    position:absolute;
    background-color: lightblue;
    height: 60%;
    width: 90%;
    left:5%;
    overflow-x: hidden;
    overflow-y: auto;
}
#conversation {
    position:absolute;
    bottom:0px;
    text-align: left;
    width: 100%;
    hight:100%;
}


/*INPUT ELEMENTS & Table */

#message-submit-form {
    position: fixed;
    bottom: 2%;
    left: 35%;
    width:30%;
}
#chatInput {
    height: 4em;
    width: 80%;
}

#send {
    height: 4em;
    width: 15%;
}
/*TABLE*/

td {
    font-size: 1.5em;
}
tr {
    overflow: hidden;
    bottom:0px;
}

.td-date {
    width: 10%;
    font-style: italic;
    color: darkgrey;
}

.td-user {
    width: 3%;
    color: darkgrey;
    text-align:right;
    padding-right:5px;
}

.td-message {
    width: 60%;
}
/*TEXT*/
h2 {
    font-size: 2.5em;
}
h3  {
    font-size: 1.2em;
}


